{% extends 'base.html.twig' %}

{% block title %}MRequest: Bin {{ bin.extId }}{% endblock %}

{% block page_title %}Bin {{ bin.extId }}{% endblock %}

{% block body %}
    <h4><strong>URL:</strong> {{ viewUrl }}</h4>

        {% for e in bin.binEntries %}
            <table class="table table-striped table-bordered">
                <thead class="thead-dark ">
                <tr><th width="40%">{{ e.createdAt|date }}</th><th width="60%">{{ e.entryMethod }}</th></tr>
                </thead>
                <tbody>
                <tr>
                    <td valign="top">
                        <dl class="row">
                            {% for k,v in e.entryHeaders %}
                                <dt class="col-sm-3"><strong>{{ k }}</strong></dt>
                                <dd class="col-sm-9">{% for vv in v %}{{ vv }}<br>{% endfor %}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                    <td valign="top">{{ e.entryBody }}</td>
                </tr>
                </tbody>

            </table>
        {% endfor %}
{% endblock %}
